# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
release.properties

# IDE
.idea/
*.iml
.vscode/*
!.vscode/extensions.json
.settings/
.project
.classpath
.factorypath

# OS
.DS_Store
Thumbs.db

# Quarkus
.quarkus/
